{#
# Layout template
# ---------------
#
# This template defines your site’s global layout. It can be
# “extended” by other templates to fill in the gaps.
#
# See Twig’s Template Inheritance documentation for more details:
# http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    
    <link rel="stylesheet" href="{{siteUrl}}/lib/css/app.css">
    <link rel="icon" 
      type="image/png" 
      href="{{siteUrl}}img/favicon.ico">

  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    
    {% block content %}  
      
    {% endblock %}
    <script src="{{siteUrl}}/js/app.js"></script>
  </body>
 </html>